<nav [class]="isscrolled ? 'bg-[rgba(58,154,217,0.5)]' : 'bg-[#3A9AD9]'"
  class="navbar   xl:z-[1000] h-[70px] pl-10 pr-10 flex justify-between items-center fixed w-[100%] bg-[#3A9AD9] text-slate-50">
  <div class="logo flex items-center gap-1">
    <a routerLink="/main-page" href="#"><i
        class='bx bxs-movie text-[40px]'></i></a>
    <h1 routerLink="/main-page"
      class="font-[600] text-[20px] cursor-pointer">movies empire</h1>
  </div>
  <ul class="flex flex-row gap-[50px] ">
    <li><a
        class="relative text-[25px] after:content-[''] after:absolute after:left-0 after:bottom-[-2px] after:w-[0] after:h-[2px] after:bg-white after:transition-[width] after:duration-300 hover:after:w-[100%]"
        routerLink="/movies/main-page">movies</a></li>
    <li><a
        class="relative text-[25px] after:content-[''] after:absolute after:left-0 after:bottom-[-2px] after:w-[0] after:h-[2px] after:bg-white after:transition-[width] after:duration-300 hover:after:w-[100%]"
        routerLink="/auth/series">series</a></li>
  </ul>
  <div class="search felx flex-row">
    <a class="relative right-[50px]" routerLink="/watchlist">my watchlist</a>
    <input
      class="w-[200px] h-[30px] text-[20px] text-[navy] border-none outline-none rounded-2xl pl-2"
      placeholder="search..." type="search" (input)="onSearch($event)">
  </div>
</nav>
