<app-navbar></app-navbar>
<app-loader></app-loader>


<div *ngIf="serie" class=" relative pl-[40px] pr-[40px] top-[150px] flex flex-row gap-7">

  <h1 class="absolute top-[-50px] text-[white] text-[25px] font-[600]">{{ serie.title }}</h1>
  <span class="inline-block h-[3px] w-[300px] bg-white absolute top-[-15px]"></span>
  <img class="w-[300px] rounded-lg" [src]="'https://image.tmdb.org/t/p/w500' + serie.poster_path" alt="{{ serie.title }}">

<div class="overview text-[white]">
  <p class="mb-4"><strong>Overview:</strong> {{ serie.overview }}</p>

  <p class="mb-4"><strong>Genres:</strong>
    <span *ngFor="let genre of serie.genres">
      {{ genre.name }}
    </span>
  </p>

  <p class="mb-4"><strong>Release Date:</strong> {{ serie.first_air_date }}</p>
  <p class="mb-4"><strong>Status:</strong> {{ serie.adult ? 'Adult' : 'Family' }}</p>
  <p class="mb-4"><strong>Popularity:</strong> {{ serie.popularity }}</p>

  <strong ><h3>Production Companies:</h3></strong>
  <ul class="mb-4">
    <li *ngFor="let company of serie.production_companies">
      {{ company.name }} ({{ company.origin_country }})
    </li>
  </ul>

  <strong><h3>Languages:</h3></strong>
  <ul>
    <li *ngFor="let language of serie.spoken_languages">
      {{ language.name }}
    </li>
  </ul>
</div>

</div>
