@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:#1E2A38 !important;
  text-transform: capitalize !important;
  font-family: 'poppins', sans-serif !important;
}

::-webkit-scrollbar {
  width: 20px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f0f8ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #89CFF0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4682b4;
}

* {
  scrollbar-color: #3a99d9 #f0f8ff;
}

.loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid skyblue;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 40%;
  left: 45%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.scale-img {
  transition: transfrom ease-in .5;
  cursor: pointer;
}

.scale-img:hover {
  transform: scale(1.1);
}
